<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
      <header>
    <nav class="navbar">
            <div class="logo"><img src="~/img/logo.png"></div>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Latest</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="buttons">
        <input type="button" value="Login">
        <input type="button" value="Register">
      </div>
    </nav>
        <div class="text-img-flex">
    <div class="text-content">
            <h2>Discover Seamless Connections with <br/><strong>Event Connect</strong></h2>
            <br />
            <h5>Unite moments, forge bonds. 
                <br />
                <br />
                </h5>
                <p>
                Event Connect, where every connection becomes an event. 🚀
            <br />
                Transform every interaction into a memorable experience.  🌟
                <br />
                Dive into a world of meaningful interactions, one click away. 🌐
            </p>
    </div>
   <div class="play-button">
            <img src="~/img/eventconnect.png" alt="Event Connect" class="play-image">
    </div>
        </div>
  </header>


    @* <header> *@
@*         <!-- Main -->
        <section id="main">
            <!-- Glass Box -->
            <div class="main-box">
                <!-- Navbar -->
                <nav>
                    <ul>
                        <li><a href="#" class="logo">Taste</a></li>
                        <li><i class='bx bxs-cart-alt'></i></li>
                    </ul>
                </nav>
                <!-- Main Content -->
                <div class="main-content">
                    <!-- Main Text -->
                    <div class="main-text">
                        <h1>Delicious <br>Food</h1>
                        <h2>For Healthy Life</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Sint voluptas distinctio perspiciatis aspernatur.</p>
                        <!-- Buttons -->
                        <a href="#" class="btn1">View Menu</a>
                        <a href="#" class="btn2">Book A Table</a>
                    </div>
                    <!-- Image -->
                    <div class="main-img">
                        <img src="images/food.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- circles -->
        <div class="circle1"></div>
        <div class="circle2"></div>
 *@

@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Event_Connect_Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Event Connect
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>