@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: all 0.3s ease;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(172,148,233,1) 100%);
}

::selection {
    color: #f2f2f2;
    background: #f86d8d;
}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

body::after {
    opacity: 0.4;
    clip-path: circle(20% at 100% 50%);
    background-image: linear-gradient( 135deg, #F6416C 10%, #ff9a9e 100%);
}

header {
    height: 150%;
    width: 91%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 12;
    border-radius: 25px;
    padding-bottom : 7rem;
    margin: 40px auto;
    position: relative;
}

    header .navbar {
        margin: auto;
        width: 100%;
        padding: 35px 50px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
}

.navbar .logo img {
    width: 70px;
    height: 60px;
}

.navbar .menu li {
    list-style: none;
    margin: 0 6px;
}

.navbar .menu a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

    .navbar .menu a:hover {
        color: #f2f2f2;
    }

.navbar .buttons input {
    outline: none;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    padding: 6px 15px;
    border: none;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient( 135deg, #ff9a9e 10%, #F6416C 100%);
}

    .navbar .buttons input:hover {
        transform: scale(0.97);
    }

header .text-content {
    width: 40%;
    margin: 60px 0 0 50px;
}

.text-content h2 {
    font-size: 28px;
    font-weight: 600;
}

.text-content p {
    font-size: 17px;
    margin-top: 10px;
}

.text-img-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.play-image {
    width: 110%;
}


@media (max-width:1100px) {
    header .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 5px;
    }

    .navbar .menu {
        margin: 10px 0 20px 0;
    }

    header .text-content {
        margin: 30px 20px 20px 20px;
        width: 90%;
    }

        header .text-content h2 {
            font-size: 20px;
        }

        .play-image{
            display:none;
        }
}

@media (max-width:410px) {
    header {
        height: 180%;
        width: 100%;
        border-radius: 0px;
    }

        header .navbar {
            padding: 15px 10px;
        }
}
